version: '3'

services:
  minio:
    image: minio/minio
    ports:
      - "9000:${API_PORT:-9000}"
      - "9001:${CONSOLE_PORT:-9001}"
    volumes:
      - .\minio_storage:/data
    environment:
      MINIO_ROOT_USER: "${ROOT_USER}"
      MINIO_ROOT_PASSWORD: "${ROOT_PASSWORD}"
    command: server --console-address ":9001" /data